<footer class="footer"> 
  <div class="container">
        <div class="col-sm-6 links">
            <a href="{{ links.twitter | safe }}" class="fa fa-twitter" target="_blank"></a>
            <a href="{{ links.linkedIn | safe }}" class="fa fa-linkedin" target="_blank"></a>
            <a href="{{ links.email | safe }}" class="fa fa-envelope" target="_blank"></a>
        </div>
        <div class="col-sm-6 copyright">
            <p>Copyright 2021</p>
        </div>
    </div>   
</footer>