<footer class="footer"> 
  <div class="container">
        <div class="col-sm-6 links">
            {%- for social in socials -%}
                <a href="{{ social.link | safe }}" class="fa {{ social.icon }}" target="_blank"></a>
            {%- endfor -%}
        </div>
        <div class="col-sm-6 copyright">
            <p>Copyright 2021</p>
        </div>
    </div>   
</footer>