<div class="pb-5">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
    listElement: "ul",
    listItemElement: "li",

    listClass: "flex justify-center  items-center space-x-4",
    listItemClass: "rounded-lg px-3 py-2 mt-2 font-bold hover:bg-slate-100 hover:text-slate-900",
    listItemHasChildrenClass: "",
    activeListItemClass: "",

    anchorClass: "",
    activeAnchorClass: "active text-imp-light dark:text-imp-dark",
    activeKey: eleventyNavigation.key
    }) |   safe  }}
</div>
<div>
 <img src="{{ '/images/lol_g8847.svg' | url }}" alt="my image" />
  <span class="dots"></span>
   <span class="dots"></span>
</div>