{%- for post in inputPosts | reverse -%}
  <div class="md:grid md:grid-cols-2 md:grid-rows-2 md:auto-rows-auto border-b-8 pb-2 my-4 md:items-center  post">
    <div class="post-header">
      <h2 class="post-title">
        {% if post.data.isExternal %}
          <a href="{{ post.data.url }}" target='_blank'>{{ post.data.title }}</a>
        {% else %}
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        {% endif %}
      </h2>
      <p>
        <time class="postlist-date" datetime="{{ post.date }}">
          {{ post.date | postDateString }}
        </time>
      </p>
    </div>
    <div class="md:row-span-full md:col-start-2 post-featuredImage">
      {% if post.data.featuredImage %}
        <img class="w-full" src="{{ post.data.featuredImage | imagePath | url }}" alt="" sizes="(min-width: 680px) 20vw, calc(100vw - 20px)">
        {% endif %}
      </div>
      <div class="post-footer">
        {% if post.data.preview %}
          <div class="post-description">
            {{ post.data.summary }}
          </div>
        {% endif %}
        <a class="fa fa-tag"></a>
        {%- for tag in post.data.tags -%}
          {% set tagUrl = "/tags/" + tag %}
          <a href="{{ tagUrl | url }}">{{ tag }}</a>
          {% if not loop.last %},
          {% endif %}
        {%- endfor -%}
    </div>
  </div>
{%- endfor -%}
