{%- for social in socials -%}
    <a href="{{ social.link | url }}"  target="_blank" rel="noopener noreferrer" class="mx-1 w-1/5 max-w-[36px] rounded p-2 bg-gray-700 text-white">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="{{ social.viewBox }}"
            aria-labelledby="{{ social.title }}TitleHeader"
            role="img"            >
            <title id="{{ social.title }}TitleHeader">{{ social.title }}</title><path fill="currentColor" d="{{ social.svg }}"/></svg>
    </a>
{%- endfor -%}