<link rel="stylesheet" href="{{ '/css/main.css?v=' | url }}{% version %}"/>
<link rel="stylesheet" href="{{ '/css/eyes.css?v=' | url }}{% version %}"/>


<script>
if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
document.documentElement.classList.add('dark');
localStorage.theme = 'dark';
} else {
document.documentElement.classList.remove('dark');
localStorage.theme = 'light';
}
</script>