---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---


<h1>Tagged “{{ tag }}”</h1>
<ol>
{% for post in collections[tag] | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>


